---
layout: base
---
<!-- Top menu -->
<div class="show-menu">
	<a href="#" class="shadow-top-down">+</a>
</div>
<nav class="main-menu shadow-top-down">
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#tpl_home" class="scroll_effect">Home</a></li>
		<li><a href="#tpl_features" class="scroll_effect">Highlights</a></li>
		<li><a href="#tpl_download" class="scroll_effect">About</a></li>
		<li><a href="/blog">Articles</a></li>
		<li><a href="#tpl_contact" class="scroll_effect">Contact</a></li>
	</ul>
</nav>
<!-- Home -->
<section id="tpl_home">
	<div class="container">
		<div class="tpl_home_inner_wapper">
			<h1 class="text-center"><i class="fa fa-bomb"></i> FrCode</h1>
		</div>
		<div class="tpl_home_inner_wapper">
			<h2 class="text-center">Front-end code that rocks!</h2>
			<p class="text-center">
				This is an app landing page from
				<a rel="nofollow" href="http://www.tpl.com" target="_parent">tpl</a>.
				Credits go to <a rel="nofollow" href="http://getbootstrap.com/" target="_parent">Bootstrap</a>,
				<a rel="nofollow" href="http://stocksnap.io/" target="_parent">stocksnap.io</a> for images,
				<a rel="nofollow" href="http://subtlepatterns.com/" target="_parent">subtlepatterns.com</a> for background patterns.
			</p>
		</div>
		<div class="tpl_home_inner_wapper btn_wapper">
			<div class="col-sm-6">
				<a href="#tpl_features" class="btn col-xs-12 scroll_effect shadow-top-down">
					<i class="fa fa-align-justify"></i> Highlights
				</a>
			</div>
			<div class="col-sm-6">
				<a href="#tpl_download" class="btn col-xs-12 scroll_effect shadow-top-down">
					<i class="fa fa-info-circle"></i> About
				</a>
			</div>
		</div>
	</div>
</section>
<!-- Highlights -->
<section id="tpl_features">
	<div class="container-fluid">
		<header class="template_header">
			<h1 class="text-center"><span>...</span> Highlights <span>...</span></h1>
		</header>
		<div class="col-sm-12">
			{% for post in site.posts %}
				{% if post.highlight %}
				<a href="{{ post.url }}" title="{{ post.title }}" class="col-sm-6 col-lg-3 feature-box">
					<div class="feature-box-inner">
						<div class="feature-box-icon">
							<i class="fa {{ post.icon }}"></i>
						</div>
						<p>
							{{ post.description }}
						</p>
					</div>
				</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>
<!-- Download -->
<section id="tpl_download">
	<div class="container">
		<header class="template_header">
			<h1 class="text-center"><span>...</span> About <span>...</span></h1>
		</header>
		<div class="tpl_download_text_wapper">
			<p>
			 <span class="highlight">[[[ Let's Rock!!! ]]]</span>
			</p>
		</div>
		<div class="col-xs-12">
			<h2>50 To 500</h2>
		</div>
		<div class="col-xs-12">
			<p>Are the average lines of code written daily by programmers</p>
			<p>
				So let's make that trip more comfortable and relaxing, enjoying the ride,
			</p>
			<p>
				feeling the breeze and taking a deep breath in the front-end world.
			</p>
			<p>
				<span class="highlight">FrCode</span> is all about that, it’s about front-end, code awesome and other funny stuffs
			</p>
		</div>
		<div class="col-xs-12">
			<a href="#" class="shadow-top-down"><img src="images/download_btn.png"/></a>
		</div>
	</div>
</section>
<!-- Contact -->
<section id="tpl_contact">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<header class="template_header">
					<h1 class="text-center"><span>...</span> Contact <span>...</span></h1>
				</header>
				<p class="text-center">
					<i class="fa fa-map-marker"></i> Visc. de Mauá Square, Santos, São Paulo - Brazil<br />
					<i class="fa fa-envelope"></i> Email: <a href="mailto:vanderlei.alves.da.silva@gmail.com">vanderlei.alves.da.silva@gmail.com</a><br />
					<i class="fa fa-phone"></i> Phone: <a href="#">+55 13-988333966</a>
				</p>
			</div>
		</div>
		<form role="form" action="#" method="post">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><i class="fa fa-user"></i></div>
					<input type="text" name="name" class="form-control" id="contact-name" placeholder="Name">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><i class="fa fa-at"></i></div>
					<input type="text" name="email" class="form-control" placeholder="Email">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
					<textarea name="message" class="form-control" id="contact-message" placeholder="Message"></textarea>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-xs-6 col-xs-offset-6">
					<button type="submit" class="form-control">Send</button>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ul class="nav nav-pills social">
					<li><a title="Facebook page" href="https://www.facebook.com/vanderlei.alvesdasilva" target="_blank" class="shadow-top-down social-facebook"><i class="fa fa-facebook-official"></i></a></li>
					<li><a title="Github page" href="https://github.com/vanderleisilva" class="shadow-top-down social-github" target="_blank"><i class="fa fa-github-square"></i></a></li>
					<li><a title="LinkedIn page" href="https://www.linkedin.com/in/vanderlei-alves-da-silva-73380120" target="_blank" class="shadow-top-down social-linkedin"><i class="fa fa-linkedin-square"></i></a></li>
					<li><a title="SlideShare page" href="http://pt.slideshare.net/VanderleiAlvesdaSilv" target="_blank" class="shadow-top-down social-slideshare"><i class="fa fa-slideshare"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
