---
layout: base
title: "FrCode - Repositories"
---

{% include menu/articles.html %}

<!-- Elements -->
<section id="tpl_element">
	<div class="container">
		<header class="template_header">
			<h1><i class="fa fa-github" aria-hidden="true"></i> Repositories <small class="h1-small">List of all public github repositories</small></h1>
		</header>
    <ul class="posts">
      {% for repository in site.github.public_repositories %}
        <li>
          <p>
            <span>{{ repository.created_at | date_to_string }}</span> &raquo;
            <a href="{{ repository.html_url }}" target="_blanc" title="{{ repository.name }}">{{ repository.name}}</a>
            &raquo; <a target="_blanc" href="{{ repository.downloads_url }}"><i class="fa fa-download" aria-hidden="true"></i></a>
          </p>
          <p class="description">
            {{ repository.description }}
          </p>
        </li>
      {% endfor %}
    </ul>
	</div>
</section>

{% include contact.html %}
