<section id="tpl_about">
	<div class="container">
		<header class="template_header">
			<h1 class="text-center"><span>...</span> About <span>...</span></h1>
		</header>
		<div class="tpl_about_text_wapper">
			<p>
			 <span class="highlight">[[[ Let's Rock!!! ]]]</span>
			</p>
		</div>
		<div class="col-xs-12">
			<h2>50 To 500</h2>
		</div>
		<div class="col-xs-12 margin-bottom">
			<p>Are the average lines of code written daily by programmers</p>
			<p>
				So let's make that trip more comfortable and relaxing, enjoying the ride,
			</p>
			<p>
				feeling the breeze and taking a deep breath in the front-end world.
			</p>
			<p>
				<span class="highlight">FrCode</span> is all about that, it’s about front-end, code awesome and other funny stuffs.
			</p>
			<p class="partners">
				Partners:
				<a href="http://rafaelmonteiro.github.io/" target="_blank">Rafael Monteiro</a> |
				<a href="http://diegosouza.github.io/" target="_blank">Diego Souza</a> |
				<a href="http://gabrieloliverio.github.io/" target="_blank">Gabriel Olivério</a>
			</p>
		</div>
	</div>
</section>
