<section id="tpl_features">
	<div class="container-fluid">
		<header class="template_header">
			<h1 class="text-center"><span>...</span> {% t pages.articles %} <span>...</span></h1>
		</header>
		<div class="col-sm-12">
			{% for post in site.posts %}
				{% if post.highlight == 1 %}
				<a href="{{ post.url }}" title="{{ post.title }}" class="col-sm-6 col-lg-3 feature-box">
					<div class="feature-box-inner">
						<div class="feature-box-icon">
							<i class="fa {{ post.icon }}"></i>
						</div>
						<p class="title">
							{{ post.title }}
						</p>
						<p>
							{{ post.description }}
						</p>
					</div>
				</a>
				{% endif %}
			{% endfor %}
		</div>
		<h4>Checkout all <a href="/blog">posted articles</a></h4>
	</div>
</section>
