<section id="tpl_home">
	<div class="container">
		<div class="tpl_home_inner_wapper">
			<h1 class="text-center"><i class="fa fa-bomb"></i> FrCode</h1>
		</div>
		<div class="tpl_home_inner_wapper">
			<h2 class="text-center">Front-end code that rocks!</h2>
			<p class="text-center">
				This is an app landing page from
				<a rel="nofollow" href="http://www.tpl.com" target="_parent">tpl</a>.
				Credits go to <a rel="nofollow" href="http://getbootstrap.com/" target="_parent">Bootstrap</a>,
				<a rel="nofollow" href="http://stocksnap.io/" target="_parent">stocksnap.io</a> for images,
				<a rel="nofollow" href="http://subtlepatterns.com/" target="_parent">subtlepatterns.com</a> for background patterns.
			</p>
		</div>
		<div class="tpl_home_inner_wapper btn_wapper">
			<div class="col-sm-6">
				<a href="#tpl_features" class="btn col-xs-12 scroll_effect shadow-top-down">
					<i class="fa fa-align-justify"></i> Highlights
				</a>
			</div>
			<div class="col-sm-6">
				<a href="#tpl_about" class="btn col-xs-12 scroll_effect shadow-top-down">
					<i class="fa fa-info-circle"></i> About
				</a>
			</div>
		</div>
	</div>
</section>
