<section id="tpl_home">
	<div class="row">
		<div id="tpl_perfil" class="col-md-3">
			{% tf perfil.html %}
		</div>
		<div class="col-md-9 container">
			<header class="tpl_home_inner_wapper">
				<h1 class="text-center">
					<img src="/images/white-logo.png" alt="FrCode" />
				</h1>
			</header>
			<div class="tpl_home_inner_wapper">
				{% tf home.html %}
			</div>
			<div class="tpl_home_inner_wapper btn_wapper">
				<div class="col-sm-4">
					<a href="#tpl_features" class="btn col-xs-12 scroll_effect shadow-top-down">
						<i class="fa fa-align-justify"></i> {% t pages.articles %}
					</a>
				</div>
				<div class="col-sm-4">
					<a href="/presentations" class="btn col-xs-12 scroll_effect shadow-top-down">
						{% t pages.presentations %}
					</a>
				</div>
				<div class="col-sm-4">
					<a href="#tpl_about" class="btn col-xs-12 scroll_effect shadow-top-down">
						<i class="fa fa-info-circle"></i> {% t pages.about %}
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
