<section>
  <a href="#tpl_contact" class="scroll_effect selfie-link">
    <img class="selfie" alt="{{ site.author }}" src="images/selfie.png">
  </a>
  <div class="text-center">
    <h2>{{ site.author }}</h2>
    <p>
      A guy who makes your point<br />
      by coding their actions. <br />
      That <a href="https://youtu.be/TsXzNYAd6_4" data-toggle="lightbox" class="highlight">rocks</a>, 
      <a href="https://unsplash.it/1200/768.jpg?image=251" data-toggle="lightbox" class="highlight">dance</a> and
      <a href="/images/travel-picture.jpg" data-toggle="lightbox" class="highlight">travels</a><br/> for fun. <br />
      <i class="fa fa-music"></i> <i class="fa fa-music"></i>
    </p>
    <p>
      I hope you enjoy <br />
      this piece of technology<br />
      and if you don’t mind<br />
      leave a message then we could talk more. <br />
      <i class="fa fa-thumbs-up"></i>
    </p>
  </div>
</section>

<!--http://ashleydw.github.io/lightbox/#videos-->