<section id="tpl_portfolio">
	<div class="container-fluid">
		<header class="template_header">
			<h1 class="text-center"><span>...</span> {% t pages.portfolio %} <span>...</span></h1>
		</header>
		<div class="grid row">
			<div class="col-md-4">
				<figure class="effect-sarah">
					<img src="images/portfolio-2.jpg" alt="img13">
					<figcaption>
						<h2>News <span>builder</span></h2>
						<p>{% t page-content.porfolio.item1 %}</p>
						<a href="/portfolio/news-builder">{% t page-content.porfolio.viewmore %}</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-sarah">
					<img src="images/portfolio-3.jpg" alt="portfolio-3.jpg">
					<figcaption>
						<h2>Master <span>mind</span></h2>
						<p>{% t page-content.porfolio.item2 %}</p>
						<a href="/portfolio/mastermind">{% t page-content.porfolio.viewmore %}</a>
					</figcaption>			
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="effect-sarah">
					<img src="images/portfolio-4.jpg" alt="portfolio-4.jpg">
					<figcaption>
						<h2>Shop <span>Botões</span></h2>
						<p>{% t page-content.porfolio.item3 %}</p>
						<a href="/portfolio/shop-botoes">{% t page-content.porfolio.viewmore %}</a>
					</figcaption>			
				</figure>
			</div>
		</div>
	</div>
</section>
