<div class="show-menu">
	<a href="#" class="shadow-top-down">+</a>
</div>
<nav class="main-menu shadow-top-down">
	<ul class="nav nav-pills nav-stacked">
		<li><a href="/">{% t pages.home %}</a></li>
		<li class="separator"></li>
		{% for post in site.posts %}
			
			{% if forloop.index < 4 %}
                <li><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
            {% endif %}

			{% if forloop.index == 4 %}
				<li><a href="/blog" title="List of all articles">All articles ...</a></li>
            {% endif %}
			
		{% endfor %}
		<li class="separator"></li>
		<li><a title="Checkout my github repositories" href="/repositories">{% t pages.repositories %}</a></li>
		<li class="separator"></li>
		<li><a href="#tpl_contact" class="scroll_effect">{% t pages.contact %}</a></li>
	</ul>
</nav>
