<div class="show-menu">
	<a href="#" class="shadow-top-down">+</a>
</div>
<nav class="main-menu shadow-top-down">
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#tpl_home" class="scroll_effect">{% t pages.home %}</a></li>
		<li><a href="#tpl_features" class="scroll_effect">{% t pages.articles %}</a></li>
		<li><a href="#tpl_portfolio" class="scroll_effect">{% t pages.portfolio %}</a></li>
		<li><a href="#tpl_about" class="scroll_effect">{% t pages.about %}</a></li>
		<li><a href="/presentations">{% t pages.presentations %}</a></li>
		<li><a href="/repositories">{% t pages.repositories %}</a></li>
		<li><a href="#tpl_contact" class="scroll_effect">{% t pages.contact %}</a></li>
		<li class="separator"></li>
		<li><a href="https://www.visualcv.com/vanderlei-alves-da-silva" target="_blank">{% t pages.curriculum %}</a></li>
	</ul>
</nav>
