<div class="show-menu">
	<a href="#" class="shadow-top-down">+</a>
</div>
<nav class="main-menu shadow-top-down">
	<ul class="nav nav-pills nav-stacked">
		<li><a href="#tpl_home" class="scroll_effect">Home</a></li>
		<li><a href="#tpl_features" class="scroll_effect">Articles</a></li>
		<li><a href="#tpl_portfolio" class="scroll_effect">Portfolio</a></li>
		<li><a href="#tpl_about" class="scroll_effect">About</a></li>
		<li><a href="/presentations">Presentations</a></li>
		<li><a href="#tpl_contact" class="scroll_effect">Contact</a></li>
		<li class="separator"></li>
		<li><a href="https://www.visualcv.com/vanderlei-alves-da-silva" target="_blank">Curriculum</a></li>
	</ul>
</nav>
