---
layout: base
title: "FrCode - Portfolio - Mastermind"
description : "Mastermind User Interface"
---

{% include menu/articles.html %}

<section id="tpl_element">
	<div class="container">
		<header class="template_header">
			<h1>Mastermind <small class="h1-small">{{ page.description }}</small></h1>
		</header>
		<article>
			<h2>Inspiration</h2>
			<p>
				It is based on a famous game called "Mastermind" where players are required to guess a secret code, which is consisted of 8 different or equal colored balls, by having at most 10 attempts either a time limit of 5 minutes. Whenever a colored ball gets selected and is in the secret code right position, a black small colored ball on the right hand side of the current attempt comes up, though when only the color is right, a white colored ball is shown instead.
			</p>
			<img style="width:100%; max-width: 695px" alt="News Builder interface" src="/images/mastermind.jpg" />
  			<h2>What it does</h2>
			<p>
				The mastermindUI project is an interactive user interface designed with the purpose to provide the mastermind players with the best experience by mixing the game complexity with an innovative interface.
			</p>
			<h2>How we built it</h2>
			<p>
				An array of technologies such as javascript, particularly using Angular.js framework, html, bootstrap and less css pre-processor for front-end construction, php with codigniter framework for back-end development and mongodb as data storage.
			</p>
			<h2>Challenges we ran into</h2>
			<p>
				A short-time period for developing such an innovative user interface for the Mastermind game in order to attend the requirements previously defined.
			</p>
			<h2>Accomplishments that we're proud of</h2>
			<p>
				Developing mechanisms of communication between different platforms and technologies with the aim to innovate in the mastermind gameplay.
			</p>
			<h2>What we learned</h2>
			<p>
				Understanding the mastermind logic complexity, as well as improving our teamwork skills taking advantage of each one's capacity.
			</p>
			<h2>What's next for mastermindUI</h2>
			<p>
				Plans for enhancing even more the back-end interface, as well as incrementing new functionalities for a better user interaction.
			</p>
		</article>
	</div>
</section>

{% include contact.html %}
