---
layout: base
title: "FrCode - Portfolio - Shop Botões"
---

{% include menu/articles.html %}

<section id="tpl_element">
	<div class="container">
		<header class="template_header">
			<h1>Shop Botões <small class="h1-small">A button shopping wordpress system</small></h1>
		</header>
		<article>
  			<h2>What it does</h2>
			<p>
				A wordpress e-commerce based that aims to be an easy interface for end users request budgets and interact with the company.
			</p>
			<img style="width:100%" alt="Shop Botões" src="/images/shop-botoes.png" />
  			<h2>The brief</h2>
			<p>
				I’ve been contacted to, starting from the client’s current wordpress layout, make all needed customizations to create a product administration that should offers an easy use for the client and end-users. 
			</p>
			<h2>The solution</h2>
			<p>
				It has been added a wordpress plugin for ecommerces, and it has been adapted the client’s current wordpress layout to working in a <a href="http://singlepageappbook.com/goal.html" target="_blank" title="Single Page Apps definition">Single Page Application</a> manner. 
			</p>
		</article>
	</div>
</section>

{% include contact.html %}
