---
layout: base
---

{% include menu/articles.html %}

<section id="tpl_element">
	<div class="container">
		<header class="template_header">
			<h1>Presentations <small class="h1-small">List of all published presentations</small></h1>
		</header>
		<article class="row">
  			<div class="col-md-6">
				<h2>ECMAScript <small>history and semantic</small></h2>
				<iframe src="//www.slideshare.net/slideshow/embed_code/key/CmWtDUF3cyOoy4" width="595" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
			</div>
  			<div class="col-md-6">
				<h2>Object Calisthenics <small>programming best practices</small></h2>
				<iframe src="//www.slideshare.net/slideshow/embed_code/key/xxp9cmubMWiNBt" width="595" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
			</div>
		</article>
	</div>
</section>

{% include contact.html %}
