---
layout: base
title: "FrCode - Portfolio - News Builder"
---

{% include menu/articles.html %}

<section id="tpl_element">
	<div class="container">
		<header class="template_header">
			<h1>News Builder <small class="h1-small">Description</small></h1>
		</header>
		<article>
  			<h2>Client</h2>
			<p>Content under construction [...]</p>
  			<h2>The brief</h2>
			<p>Content under construction [...]</p>
			<h2>The solution</h2>
			<p>Content under construction [...]</p>
		</article>
	</div>
</section>

{% include contact.html %}
