---
layout: base
title: "FrCode - Portfolio - News Builder"
---

{% include menu/articles.html %}

<section id="tpl_element">
	<div class="container">
		<header class="template_header">
			<h1>News Builder <small class="h1-small">Newsletter interface builder</small></h1>
		</header>
		<article>
  			<h2>Client</h2>
			<p>
				A big marketing agency has shown the need of a creation of a module on its self made Enterprise resource planning system (ERP) for an easy creation of newsletters, up to that point, every newsletter was created by a third party.
			</p>
  			<h2>The brief</h2>
			<p>
				The currently client system was based in a self made php framework then the solution needed follows its good practices in terms of coding and interface. For that goal I’ve worked with a third party IT professional, currently responsible for the ERP. For this project the deadline was 2 months with weekly short releases. 
			</p>
			<h2>The solution</h2>
			<p>
				The News Builder module receives a compressed file with the HTML newsletter base, with special keywords where the dynamic content will be inserted, then based on it the module creates a drag and drop interface that the end user can manage its content, images and structure.
			</p>
			<img style="width:100%" alt="News Builder interface" src="/images/news.png" />
			<p>
				This implementation has used PHP for backend and jQuery for frontend and its communication based on api rests. All coding developed following object calisthenics concepts.
			</p>
		</article>
	</div>
</section>

{% include contact.html %}
